<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cscb07_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSCB07_Project">
        <activity
            android:name=".CustomProductPage"
            android:exported="false" />
        <activity
            android:name=".CustomStorePage"
            android:exported="false" />
        <activity
            android:name=".DisplayPendingOrderActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayCompleteOrderStatusActivity"
            android:exported="false" />
        <activity
            android:name=".StoreOwnerPage"
            android:exported="false" />
        <activity
            android:name=".OwnerRegister"
            android:exported="false" />
        <activity
            android:name=".OwnerLogin"
            android:exported="false" />
        <activity
            android:name=".CustomerRegister"
            android:exported="false" />
        <activity
            android:name=".CustomerPage"
            android:exported="false" />
        <activity
            android:name=".updateProductActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerLogin"
            android:exported="false" />
        <activity
            android:name=".PopupActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayItemsInShoppingCarActivity"
            android:exported="false" />
        <activity
            android:name=".ShoppingCar"
            android:exported="false" />
        <activity
            android:name=".allorders"
            android:exported="false" />
        <activity
            android:name=".ownerlogin.MVPOwnerLogin"
            android:exported="false" />
        <activity
            android:name=".CreateStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
